# Python
__pycache__/
.ruff_cache/
*.pyc
*.pyo
.pytest_cache/
.venv/
venv/
*.egg-info/
dist/
build/

# Environment variables
.env
.env.*

# VSCode
.vscode/

# macOS
.DS_Store

*.pem

# HIT7 — archivo de persistencia de ventanas
inscripciones.json