[Unit]
Description=HIT#1 - Servidor TCP B (puerto 5000)
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/SD2026-GRUPO404-TP1
Environment=PORT=5000
ExecStart=/home/ubuntu/SD2026-GRUPO404-TP1/.venv/bin/python tp1/HIT1/server_b.py
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
