[Unit]
Description=HIT#2 - Servidor TCP B con reconexion (puerto 5001)
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/SD2026-GRUPO404
Environment=PORT=5001
ExecStart=/home/ubuntu/SD2026-GRUPO404/.venv/bin/python tp1/HIT2/server_b.py
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
