[Unit]
Description=HIT#4 - Nodo C2 bidireccional (escucha 5004, conecta 5003)
After=network.target
Wants=hit4-node-c1.service

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/SD2026-GRUPO404-TP1
ExecStart=/home/ubuntu/SD2026-GRUPO404-TP1/.venv/bin/python tp1/HIT4/node_c.py \
    --listen-port 5004 \
    --remote-host 127.0.0.1 \
    --remote-port 5003
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
