[Unit]
Description=HIT#6 - Nodo D: Registro de Contactos (TCP 5005, HTTP interno 8086)
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/SD2026-GRUPO404-TP1/tp1
Environment=TCP_PORT=5005
ExecStart=/home/ubuntu/SD2026-GRUPO404-TP1/.venv/bin/uvicorn HIT6.node_d:app \
    --host 0.0.0.0 \
    --port 8086
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
