[Unit]
Description=TP2 HIT#1 - Orquestador con containers efímeros (puerto 6000)
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/SD2026-GRUPO404-TP1/tp2/HIT1
Environment=PORT=6000
ExecStart=/home/ubuntu/SD2026-GRUPO404-TP1/.venv/bin/python server.py
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
